page-singlefileview {

  .scroll-content {
    background-color: #fff;
  }

  .card-background-page {

    h1 {
      color: $color-app-grey;
      //font-weight: bold;
      font-size: 2em;
      width: fit-content;
    }

    h2 {
      color: $color-app-grey;
      font-size: 1em;
      //font-weight: bold;
    }

    ion-card {
      width: 100%;
      margin: 1% 0% 2% 0%;
      padding: 0% 0% 3% 0%;
      background-color: $color-app-light;
    }

    ion-item {
      background-color: $color-app-light;
    }

  }
}
