<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!hasToken">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar *ngIf="!hasToken"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content class="page-content" padding>
  <div text-center padding id="logo-container">
    <img id="meetup-logo" src="./assets/imgs/meetuplogotransparent.png">
  </div>
  <p class="login-text" text-center>Want to know more about <a (click)="pushAbout()">MeetUp and it's creators? </a></p>
  <form (submit)="login()">
    <ion-input [(ngModel)]="user.username" placeholder="Username" type="text" name="username"></ion-input><br>
    <ion-input [(ngModel)]="user.password" placeholder="Password" type="password" name="password"></ion-input><br>
    <button ion-button color="default" block type="submit">Login</button>
    <button ion-button color="default" block (click)="pushRegister()">Create an account</button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button clear [navPush]="pushAbout">About & Contact</button>
  </ion-toolbar>
</ion-footer>
