<ion-header>
  <div style="display: inline-block">
    <button clear ion-button (click)="dismiss()">
      <ion-icon name="arrow-back"></ion-icon>
      <ion-title>Back</ion-title>
    </button>
  </div>
</ion-header>

<ion-content>
  <div id="activity-content">
    <ion-avatar id="activity-avatar">
      <img [src]="imgUrl">
    </ion-avatar>
    <ion-title padding>{{mediaFile.title}}</ion-title>
    <div id="favourite-container">
      <h4 item-end id="favourites-text" padding>{{userIdCounter}}</h4> <!-- amount NUMBER -->
      <button ion-button color="dark" *ngIf=!favourited (click)="addFavourite()" icon-start> <!--!favourited-->
        <ion-icon name="heart-outline"></ion-icon>
      </button>
      <button item-right ion-button color="brightgreen" *ngIf=favourited (click)="deleteFavourite()" icon-start> <!--favourited-->
        <ion-icon name="heart"></ion-icon>
      </button>
    </div>
  </div>

  <div id="about-activity-container">
    <p id="about-activity-text">{{mediaFile.description}}</p>
  </div>

  <ion-card id="users">
    <ion-card-header>Users in this Activity</ion-card-header>
    <ion-card-content>
      <ion-scroll class="side-scroll" scrollX="true">
        <ion-list id="users-list">
          <ion-item>
            <ion-avatar>
              <img src="./assets/imgs/profileimg.png" alt="profile-img">
              <p>username</p>
            </ion-avatar>
          </ion-item>
        </ion-list>
      </ion-scroll>
    </ion-card-content>
  </ion-card>

  <ion-card id="meetup-card">
    <ion-card-header>Meet Ups</ion-card-header>
    <ion-card-content>
      <ion-scroll class="side-scroll" scrollX="true">
        <ion-list id="meetup-list">
          <ion-item>
            <ion-avatar>
              <img src="./assets/imgs/hockey.png" alt="activity-img">
              <p>Hockey</p>
            </ion-avatar>
          </ion-item>
        </ion-list>
      </ion-scroll>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
</ion-footer>

