page-register {

  .scroll-content {
    background-image: url("../../assets/imgs/register-bg2.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }

  ion-content {

    text-align: center;

    #registerform {
      background: rgba(215,241,252,0.8);
      border-radius: 3px;
      padding: 1em 1em 1em 0.5em;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    }

    .item.item-input {
      background-color: transparent;
    }

    .slide:hover,
    .slide:focus {
      box-shadow: inset 15.5em 0 0 0 $color-app-blue;
    }

    button {
      color: $color-app-grey;
      transition: 0.25s;

      &:hover,
      &:focus {
        border-color: $color-app-blue;
        color: #fff;
      }
    }

    button {
      width: 15.5em;

    }
  }
}
