page-register {

  ion-content {
    background-image: url("../../assets/imgs/registerbackground.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
