<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar animated [(ngModel)]="mediaProvider.searchText" (search)="getSearchedMedia(searchText)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <div *ngFor="let file of MediaFiles">
    <ion-card>
      <img *ngIf="file.media_type == 'image'" [alt]="file?.title" (click)="modalOpenImg(file.file_id)"
             [src]="mediaProvider.uploadUrl + (file?.filename | thumbnail: 'largeThumb')"/>
      <!--<div class="card-title">{{file.title}}</div>-->
      <div class="card-subtitle">{{file.username}}</div>
    </ion-card>
    <ion-card *ngIf="file.media_type == 'audio'">
      <audio controls (click)="modalOpenImg(file.file_id)">
        <source [src]="mediaProvider.uploadUrl + file?.filename" type="audio/ogg">
      </audio>
      <!--<div class="card-title">{{file.title}}</div>-->
      <div class="card-subtitle">{{file.username}}</div>
    </ion-card>
    <ion-card *ngIf="file.media_type == 'video'">
      <video controls width="320" height="240" (click)="modalOpenImg(file.file_id)"
             [poster]="mediaProvider.uploadUrl + (file?.filename | thumbnail: 'largeThumb')">
        <source [src]="mediaProvider.uploadUrl + file?.filename" type="video/mp4">
        <source [src]="mediaProvider.uploadUrl + file?.filename" type="video/ogg">
      </video>
      <div class="card-subtitle">{{file.username}}</div>
      <div *ngIf="file.tag == 'shmuactivity'" class="card-subtitle">New Activity created!</div>
      <div *ngIf="file.tag == 'shmumeeting'" class="card-subtitle">New Meetup created!</div>
      <div *ngIf="file.tag == 'shmuimageuser'" class="card-subtitle">New Image uploaded!</div>
      <!--<div class="card-title">{{file.title}}</div>-->
    </ion-card>
  </div>
</ion-content>

<ion-footer>
</ion-footer>
