page-activityfeed {

  .scroll-content {
    background-color: $color-app-light;
  }

  .card-background-page {

    text-align: center;

    ion-card {
      position: relative;
      text-align: center;
      background-size: cover;
      background-position-x: 50%;
      background-position-y: 50%;
      width: 100%;
      padding: 0%;
      margin: 0%;
    }

    .card-title {
      bottom: 0%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: $color-app-grey;
    }

    .card-subtitle {
      font-size: 1.0em;
      top: 52%;
      width: 100%;
      color: $color-app-grey;
    }
  }

}
