<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar [(ngModel)]="mediaProvider.searchText" (search)="getSearchedMedia(searchText)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <div *ngFor="let file of MediaFiles">
    <ion-card *ngIf="file.media_type == 'image'">
      <ion-item item-start>
        <h1>{{file.title}}</h1>
        <h2>{{"By: " + file.username}}</h2>
      </ion-item>
      <img [alt]="file?.title" (click)="modalOpenActivity(file.file_id)"
             [src]="mediaProvider.uploadUrl + (file?.filename | thumbnail: 'largeThumb')"/>
    </ion-card>
    <ion-card *ngIf="file.media_type == 'audio'">
      <ion-item item-start>
        <h2>{{file.username}}</h2>
      </ion-item>
      <audio controls (click)="modalOpenActivity(file.file_id)">
        <source [src]="mediaProvider.uploadUrl + file?.filename" type="audio/ogg">
      </audio>
    </ion-card>
    <ion-card *ngIf="file.media_type == 'video'">
      <ion-item item-start>
        <h2>{{file.username}}</h2>
      </ion-item>
      <video controls width="320" height="240" click)="modalOpenActivity(file.file_id)"
             [poster]="mediaProvider.uploadUrl + (file?.filename | thumbnail: 'largeThumb')">
        <source [src]="mediaProvider.uploadUrl + file?.filename" type="video/mp4">
        <source [src]="mediaProvider.uploadUrl + file?.filename" type="video/ogg">
      </video>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
</ion-footer>
