page-profile {

  .scroll-content {
  }

  #profileimg-container {
    margin: auto;
    text-align: center;

    #profile-avatar {
      width: 50%;
      margin: auto;
      text-align: center;
      border-radius: 50%;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  #aboutme-container {
    text-align: center;
    height: fit-content;
    margin: 0% 0% 10% 0%;

    .aboutme-text{
      background-color: #e1cb44;
      height: 100%;
    }
  }



  #activity-card, #meetup-card, #gallery-card {
    margin: 0%;
    padding: 0%;
    width: 100%;
    text-align: center;

    ion-card-header {
      background-color: $color-app-lightblue;
      color: $color-app-grey;
      letter-spacing: 2px;
    }
  }

  #activity-list, #meetup-list, #gallery-list {

    width: fit-content;
    display: flex;
    flex-wrap: nowrap;

    ion-item {
      display: flex;
      flex-wrap: wrap;
    }

    ion-avatar {
      margin: auto;
      object-fit: cover !important;
    }

    ion-avatar img {
      width: 95% !important;
      height: 95% !important;
      max-width: 95% !important;
      min-width: 90px !important;
      max-height: 95% !important;
      min-height: 90px !important;
    }

  }

  .side-scroll {
    white-space: nowrap;
    height: 170px;
  }

  .upload-action-sheet {
    text-align: center;
    color: #013b63;
  }


}
