<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!hasToken">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar *ngIf="!hasToken" [(ngModel)]="mediaProvider.searchText"
                   (search)="getSearchedMedia(searchText)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding class="upload-action-sheet">
  <div id="profileimg-container">
    <ion-avatar id="profile-avatar">
      <button id="uploadimg-btn" (click)="uploadImgActionSheet()"><img src="{{profilePicture}}" alt="profileimg"/></button>
    </ion-avatar>
    <h3 id="profile-name">{{ profileName }}</h3>
  </div>

  <div id="aboutme-container">
    <p class="profile-headings">About me</p>
    <p id="aboutme-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultrices ante a dignissim
      tempor.
      Vivamus gravida, purus vitae sollicitudin maximus, lorem sem sodales nunc, et laoreet turpis leo vel neque.
      Donec laoreet at risus non bibendum. Etiam erat elit, placerat id quam tempus, facilisis feugiat leo.
      Curabitur congue fermentum mi, interdum pellentesque dolor venenatis sit amet.
      Duis sit amet dolor a diam tristique molestie sit amet at neque.</p>
  </div>

  <ion-card id="activity-card">
    <ion-card-header>Activities</ion-card-header>
    <ion-card-content>
      <ion-scroll class="side-scroll" scrollX="true">
        <ion-list id="activity-list" *ngIf="activities.length > 0">
          <ion-item *ngFor="let activity of activities">
            <button ion-button clear (click)="modalActivity(activity.file_id)">
              <ion-avatar>
                <img [src]="mediaProvider.uploadUrl + (activity?.filename | thumbnail: 'largeThumb')" alt="activity-img">
                <p>{{activity.title}}</p>
              </ion-avatar>
            </button>
          </ion-item>
        </ion-list>
      </ion-scroll>
    </ion-card-content>
  </ion-card>

  <ion-card id="meetup-card">
    <ion-card-header>Meet Ups</ion-card-header>
    <ion-card-content>
      <ion-scroll class="side-scroll" scrollX="true">
        <ion-list id="meetup-list" *ngIf="meetups.length > 0">
          <ion-item *ngFor="let meetup of meetups">
            <button ion-button clear (click)="modalMeetup()">
              <ion-avatar>
                <img [src]="mediaProvider.uploadUrl + (meetup?.filename | thumbnail: 'largeThumb')" alt="meetup-img">
                <p>{{meetup.title}}</p>
              </ion-avatar>
            </button>
          </ion-item>
        </ion-list>
      </ion-scroll>
    </ion-card-content>
  </ion-card>

  <ion-card id="gallery-card">
    <ion-card-header>Image Gallery</ion-card-header>
    <ion-card-content>
      <ion-list id="gallery-list">
        <ion-item>
          <img src="../../assets/imgs/background2.jpg" alt="activity-img">
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
</ion-footer>
