<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!hasToken">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar *ngIf="!hasToken"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding text-center class="profile-img-container">
    <ion-avatar>
      <img src="" alt="profileimg"/>
    </ion-avatar>
    <h3>{{ profileName }}</h3>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <button ion-button clear>About</button>
      </ion-col>
      <ion-col>
        <button ion-button clear>Contact</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
