page-profile {

  #profileimg-container {
    margin: auto;
    text-align: center;

    #profile-avatar {
      width: 50%;
      margin: auto;
      text-align: center;
      border-radius: 50%;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  #aboutme-container {
    margin: auto;
    text-align: center;
  }

  #activity-card, #meetup-card, #gallery-card {
    margin: auto;
    text-align: center;
  }

  #activity-list, #meetup-list, #gallery-list {

    width: 2000px;  //FIX THIS TO BE REASONABLE
    display: flex;
    flex-wrap: nowrap;

    ion-item {
      display: flex;
      flex-wrap: nowrap;
    }

    ion-avatar {
      margin: auto;
    }
  }

  .side-scroll {
    white-space: nowrap;
    height: 100px;
  }

  .upload-action-sheet {
    text-align: center;
    color: #013b63;
  }

}
